select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.select {
    width: 80px;
    padding: 5px 15px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border:1px solid teal;
    border-radius: 0;
}