* {
    margin: 0;
    padding: 0;
}

.calc__box {
    display: flex;
    justify-content: space-around;
    width: 930px;
    min-width: 930px;
    margin: 15px 20px;
    border: 1px solid teal;    
}